<div class="about-video-section">
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-none d-lg-block">
                <div class="video-block">
                    <img class="video-img mw-100" src="assets/images/video-screen.png" alt="vidoe screen" />
                </div>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-6">
                <div class="text-block">
                    <h6 class="topline">SEE WHAT It's</h6>
                    <h2 class="headline">ALL ABOUT</h2>
                    <div class="subline">Get  started with an intro on memberships, rules, tips, equipment and more.</div>
                    <p class="d-none d-lg-block my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <div class="video-block d-lg-none my-3">
                        <img class="video-img mw-100" src="assets/images/video-screen.png" alt="vidoe screen" />
                    </div>
                    <button mat-icon-button class="btn-learn-more">
                        LEARN MORE
                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>