<div class="sponsors-section">
    <div class="container">
        <h5 class="text-center section-title">Sponsors</h5>
    
        <div class="row sponsors-cards">
            <mat-card class="col sponsor-card">
                <img matCardImage src="assets/images/sponsor1.png" width="135" height="135">
            </mat-card>
            
            <mat-card class="col sponsor-card">
                <img matCardImage src="assets/images/sponsor2.png" width="135" height="135">
            </mat-card>
            
            <mat-card class="col sponsor-card">
                <img matCardImage src="assets/images/sponsor3.png" width="135" height="135">
            </mat-card>
            
            <mat-card class="col sponsor-card">
                <img matCardImage src="assets/images/sponsor4.png" width="135" height="135">
            </mat-card>
            
            <mat-card class="col sponsor-card">
                <img matCardImage src="assets/images/sponsor5.png" width="135" height="135">
            </mat-card>
        </div>
    </div>
</div>
