.ad-shop-now-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    background-color: #F2F2F2;
    @media (min-width: 992px) {
        padding: 20px 0;
        background-color: #FFF;
    }
    .btn-shop-now {
        max-width: 647px;
        width: 100%;
        display: flex;
        .ad-img {
            width: 100%;
        }
    }
}