<mat-toolbar class="header">
    <div class="container-fluid h-100 d-flex d-xl-block align-items-center">
        <!-- desktop nav -->
        <div class="header-content d-none d-xl-flex">
            <div class="header-logo-wrapper">
                <img class="header-logo" src="assets/images/ACL-logo.png" alt="ACL" />
            </div>
            <ul class="header-navs">
                <li class="nav-item">
                    <a mat-button class="nav-link">
                        PLAY CORNHOLE
                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                    </a>
                    <div class="dropdown-navs">
                        <div class="overlay"></div>
                        <div class="dropdown-content">
                            <div class="row">
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 bg-white border-right-1">
                                    <div class="sub-menu p-5">
                                        <h4 class="sub-nav-title mb-4">Let's PLAY!</h4>
                                        <ul class="sub-navs">
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        Get Started
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">How to begin with the ACL.</span>
                                                </a>
                                            </li>
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        Find ACL Events
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">Anywhere in the world.</span>
                                                </a>
                                            </li>
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        Find Directors
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">Get connected in your area.</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 bg-white border-right-1">
                                    <div class="sub-menu p-5">
                                        <h4 class="sub-nav-title mb-4">Featured AREAS</h4>
                                        <ul class="sub-navs">
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        ACL College
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">Compete for scholarships.</span>
                                                </a>
                                                <img class="ad-badge" src="assets/images/acl-college.png" />
                                            </li>
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        ACL High School
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">Programs to get involved.</span>
                                                </a>
                                                <img class="ad-badge" src="assets/images/acl-hs.png" />
                                            </li>
                                            <li class="sub-nav-item">
                                                <a mat-button class="sub-nav-link">
                                                    <div class="headline">
                                                        ACL GLOBAL
                                                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                                    </div>
                                                    <span class="subline">Around the world.</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-4 d-flex align-items-center justify-content-center p-5">
                                    <img src="assets/images/sq-acl-ticket-ad.png" alt="ACL ads" class="ad-img" />
                                </div>
                            </div>
                            <div class="dropdown-navs-footer">
                                <div class="container">
                                    <div class="row">
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-flex flex-row align-items-center">
                                            <img src="assets/images/phone.png" alt="ACL software" class="phone-img">
                                            <div class="download-text">
                                                <strong>Download ACL Fanzone</strong>
                                                <p class="mt-2">to follow cornhole players, directors and events. </p>
                                            </div>
                                            <div class="download-buttons mx-auto">
                                                <a class="download-link" href="">
                                                    <img src="assets/images/app-store_apple-store.png" alt="apple_store" class="acl-software-img">
                                                </a>
                                                <a class="download-link ms-2" href="">
                                                    <img src="assets/images/app-store_googleplay.png" alt="googleplay" class="acl-software-img">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col col-12 col-sm-12 col-md-12 col-lg-6 d-flex align-items-center">
                                            <a mat-icon-button class="btn-contact ms-auto">
                                                CONTACT US
                                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                            </a>
                                            <a mat-icon-button class="btn-find ms-2">
                                                FIND ACL EVENTS
                                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="location_pin"></mat-icon>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link">
                        ACL Pro
                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link">
                        Event Schedule
                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link">
                        About
                        <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                    </a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link">Standings</a>
                </li>
                <li class="nav-item">
                    <a mat-button class="nav-link">Shop</a>
                </li>
            </ul>
            <div class="header-auth">
                <app-lang-select />
                <!-- <mat-select [(ngModel)]="selectedLang" class="lang-select">
                    <mat-option *ngFor="let lang of langs" [value]="lang.value" class="lang-option">
                        <span class="d-flex align-items-center">
                            <img [src]="lang.img" alt="" width="20" />{{ lang.value }}
                        </span>
                    </mat-option>
                </mat-select> -->
                <a mat-stroked-button class="btn-signin" href="/signin">ACL LOGIN</a>
                <a mat-flat-button class="btn-signup" href="/signup">JOIN ACL</a>
            </div>
        </div>
        <!-- mobile nav -->
        <div class="mobile-header d-flex d-xl-none">
            <button class="toggle-nav" (click)="onToggleMobNav()">
                <img [className]="openMobMenu ? 'd-none' : 'd-block'" src="assets/icons/m-nav-menu.png" alt="toggle" />
                <img [className]="openMobMenu ? 'd-block' : 'd-none'" src="assets/icons/m-nav-close.png" alt="toggle" />
            </button>
            <img class="mob-logo ms-3" src="assets/images/ACL-logo.png" alt="ACL" />
            <button mat-button class="btn-signup ms-auto">JOIN ACL</button>
            <div [className]="openMobMenu ? 'mob-navs d-block' : 'd-none'">
                <div class="overlay"></div>
                <div class="mob-navs-content">
                    <ul class="nav-items">
                        <li class="nav-item">
                            <a mat-button class="nav-link" (click)="onToggleSubMenu('play-cornhole')">
                                Play Cornhole
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                            <ul [className]="openedSubMenu === 'play-cornhole' ? 'sub-navs' : 'd-none'">
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            Get Started
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">How to begin with the ACL.</span>
                                    </a>
                                </li>
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            Find ACL Events
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">Anywhere in the world.</span>
                                    </a>
                                </li>
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            Find Directors
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">Get connected in your area.</span>
                                    </a>
                                </li>
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            ACL College
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">Compete for scholarships.</span>
                                    </a>
                                    <img class="ad-badge" src="assets/images/acl-college.png" />
                                </li>
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            ACL High Scool
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">Programs to get involved.</span>
                                    </a>
                                    <img class="ad-badge" src="assets/images/acl-hs.png" />
                                </li>
                                <li class="sub-nav-item">
                                    <a mat-button class="sub-nav-link">
                                        <div class="headline">
                                            ACL Global
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </div>
                                        <span class="subline">Around the world.</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link">
                                ACL Pro
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link">
                                About ACL
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link">
                                Standings
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link">
                                Shop ACL
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a mat-button class="nav-link">
                                Event Schedule
                                <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="keyboard_arrow_down"></mat-icon>
                            </a>
                        </li>
                    </ul>
                    <div class="direct-buttons">
                        <a mat-button class="btn-find">
                            FIND ACL EVENTS
                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="location_pin"></mat-icon>
                        </a>
                        <a mat-button class="btn-contact mt-3">
                            CONTACT US
                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                        </a>
                    </div>
                    <div class="auth-block">
                        <app-lang-select />
                        <a mat-stroked-button class="btn-signin" href="/signin">PLAYER LOGIN</a>
                    </div>
                    <div class="download-block">
                        <mat-card class="download-block-card">
                            <div class="row">
                                <div class="col col-4">
                                    <img src="assets/images/phone.png" alt="ACL software" class="phone-img">
                                </div>
                                <div class="col col-8 d-flex flex-column py-3">
                                    <div class="download-text">
                                        <strong>Download ACL Fanzone</strong>
                                        <p class="m-0">to follow cornhole players, directors and events. </p>
                                    </div>
                                    <div class="download-buttons mt-3">
                                        <a class="download-link" href="">
                                            <img src="assets/images/app-store_apple-store.png" alt="apple_store" class="acl-software-img">
                                        </a>
                                        <a class="download-link ms-2" href="">
                                            <img src="assets/images/app-store_googleplay.png" alt="googleplay" class="acl-software-img">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>