@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
// 
@font-face {
    font-family: 'Exo 2';
    src: url('/assets/fonts/Exo_2/static/Exo2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('/assets/fonts/Exo_2/static/Exo2-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('/assets/fonts/Exo_2/static/Exo2-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}
