<div class="top-notification">
    <div class="container">
        <div class="row">
            <div class="col col-md-12 col-lg-6 d-flex">
                <img class="mx-auto mw-100" src="assets/banners/ads-top-banner.png" alt="top banner image" height="60" width="403" />
            </div>
            <div class="col col-md-12 col-lg-6 d-none d-lg-flex">
                <img class="mx-auto mw-100" src="assets/banners/ads-top-banner.png" alt="top banner image" height="60" width="403" />
            </div>
        </div>
    </div>
</div>