<div class="hero-banner-section">
    <ul class="mob-short-menu d-flex d-sm-none">
        <li class="menu-item">
            <a mat-button class="menu-link">schedule</a>
        </li>
        <li class="menu-item">
            <a mat-button class="menu-link">Standings</a>
        </li>
        <li class="menu-item">
            <a mat-button class="menu-link">ACL Pro</a>
        </li>
        <li class="menu-item">
            <a mat-button class="menu-link">Pro Teams</a>
        </li>
        <li class="menu-item">
            <a mat-button class="menu-link">Open</a>
        </li>
    </ul>
    <img src="assets/images/hero-section-img.png" class="banner-img d-none d-lg-block" alt="banner" />
    <div class="hero-content">
        <h2 class="hero-text">Anyone can play, Anyone can win™</h2>
        <div class="hero-carousel">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
                        <mat-card class="hero-card">
                            <img matCardImage src="assets/images/hero-card-bg1.png" class="hero-card-img">
                            <div class="card-content">
                                <h6 class="subline">START PLAYING</h6>
                                <h3 class="headline">CORNHOLE</h3>
                                <p>Get  started with an intro on memberships, rules, tips, equipment. and more.</p>
                                <button mat-icon-button class="card-button">
                                    EAR MORE
                                    <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
                        <mat-card class="hero-card">
                            <img matCardImage src="assets/images/hero-card-bg2.png" class="hero-card-img">
                            <div class="card-content">
                                <h6 class="subline">FIND CORNHOLE</h6>
                                <h3 class="headline">EVENTS</h3>
                                <p>Locate any upcoming ACL event in the world!</p>
                                <button mat-icon-button class="card-button">
                                    TART SEARCH
                                    <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
                        <mat-card class="hero-card">
                            <img matCardImage src="assets/images/hero-card-bg3.png" class="hero-card-img">
                            <div class="card-content">
                                <h6 class="subline">SHOP FOR</h6>
                                <h3 class="headline">ACL GEAR</h3>
                                <ul class="card-items">
                                    <li class="card-item">
                                        <a mat-icon-button class="card-link">
                                            SHOP ACL FAN GEAR
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </a>
                                    </li>
                                    <li class="card-item">
                                        <a mat-icon-button class="card-link">
                                            SHOP EQUIPMENT
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </a>
                                    </li>
                                    <li class="card-item">
                                        <a mat-icon-button class="card-link">
                                            SHOP TEAMS GEAR
                                            <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                        </a>
                                    </li>
                                </ul>
                                <button mat-icon-button class="card-button">
                                    HOP ACL
                                    <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-3 d-flex">
                        <mat-card class="hero-card">
                            <img matCardImage src="assets/images/hero-card-bg4.png" class="hero-card-img">
                            <div class="card-content">
                                <h6 class="subline">BECOME A</h6>
                                <h3 class="headline">DIRECTOR</h3>
                                <p>Organize tournaments & leagues anywhere in the world using our Player App.</p>
                                <button mat-icon-button class="card-button">
                                    EARN HOW
                                    <mat-icon class="ms-1" aria-hidden="false" aria-label="" fontIcon="arrow_forward"></mat-icon>
                                </button>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
