<div class="download-app-section">
    <div class="acl-software-block pt-5">
        <div class="container pt-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-5">
                    <div class="acl-software-text">
                        <h1>
                            <span class="highlight">MAKE IT OFFICIAL,</span>
                            <br />
                            PLAY and Grow 
                            <br />
                            with us.
                        </h1>
                        <p class="mt-4">
                            Whether you're in the backyard or on ESPN, the ACL Software provides players and directors with powerful  tools for a succesful event. 
                        </p>
                        <img src="assets/images/acl-software.png" alt="ACL software" class="w-100 d-lg-none">
                        <ul class="acl-exp-items">
                            <li class="acl-exp-item">
                                <div class="item-num">1</div>
                                <div class="item-text">
                                    <strong>Powerful , robust and flexible</strong>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                </div>
                            </li>
                            <li class="acl-exp-item">
                                <div class="item-num">2</div>
                                <div class="item-text">
                                    <strong>Powerful , robust and flexible</strong>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                </div>
                            </li>
                            <li class="acl-exp-item">
                                <div class="item-num">3</div>
                                <div class="item-text">
                                    <strong>Powerful , robust and flexible</strong>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-7 d-none d-lg-block">
                    <img src="assets/images/acl-software.png" alt="ACL software" class="acl-software-img">
                </div>
            </div>
        </div>
    </div>
    <div class="acl-app-download-block">
        <div class="container py-5">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-7 position-relative d-flex">
                    <img src="assets/images/phone.png" alt="ACL software" class="cut-software-img pos">
                    <div class="download-text">
                        <strong>Download ACL Fanzone</strong>
                        <p class="mt-2">to follow cornhole players, directors and events. </p>
                    </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-5 d-flex">
                    <div class="app-download-buttons mx-auto">
                        <a class="download-link" href="">
                            <img src="assets/images/app-store_apple-store.png" alt="apple_store" class="acl-software-img">
                        </a>
                        <a class="download-link" href="">
                            <img src="assets/images/app-store_googleplay.png" alt="googleplay" class="acl-software-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>