<app-hero-banner-section />
<app-ad-shop-now-section />
<app-schedule-carousel-section />
<!-- ads banner -->
<div class="ads-banner-section bg-white d-none d-md-flex">
    <img class="ads-banner mx-auto" src="assets/banners/ads-middle-banner.png" alt="acl-banner" />
</div>
<!-- ./ads banner -->
<app-about-video-section />
<app-standing-section />
<app-blog-carousel-section />
<!-- ads banner -->
<div class="ads-banner-section">
    <div class="container d-flex align-items-center justify-content-center">
        <img class="ads-banner d-none d-sm-block" src="assets/banners/ads-middle-banner.png" alt="acl-banner" />
        <img class="ads-banner d-block d-sm-none" src="assets/banners/ads-top-banner.png" alt="acl-banner" />
    </div>
</div>
<!-- ./ads banner -->
<app-shop-carousel-section />
<app-download-app-section />
<app-contact-us-section />
<app-sponsors-section />